{% extends 'base.html.twig' %}

{% block title %}Publication{% endblock %}

{% block body %}
    <h1>Publication</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ publication.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ publication.title }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ publication.content }}</td>
            </tr>
            <tr>
                <th>DatePublication</th>
                <td>{{ publication.datePublication ? publication.datePublication|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Visibility</th>
                <td>{{ publication.visibility }}</td>
            </tr>
            <tr>
                <th>NbVues</th>
                <td>{{ publication.nbVues }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_publication_index') }}">back to list</a>

    <a href="{{ path('app_publication_edit', {'id': publication.id}) }}">edit</a>

    {{ include('publication/_delete_form.html.twig') }}
{% endblock %}
