{% extends 'base.html.twig' %}

{% block title %}Kids index{% endblock %}

{% block body %}
    <h1>Kids index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Password</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for kid in kids %}
            <tr>
                <td>{{ kid.id }}</td>
                <td>{{ kid.email }}</td>
                <td>{{ kid.roles ? kid.roles|json_encode : '' }}</td>
                <td>{{ kid.password }}</td>
                <td>{{ kid.firstName }}</td>
                <td>{{ kid.lastName }}</td>
                <td>
                    <a href="{{ path('app_kids_show', {'id': kid.id}) }}">show</a>
                    <a href="{{ path('app_kids_edit', {'id': kid.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_kids_new') }}">Create new</a>
{% endblock %}
