{% extends 'base.html.twig' %}

{% block title %}Kids{% endblock %}

{% block body %}
    <h1>Kids</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ kid.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ kid.email }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ kid.roles ? kid.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ kid.password }}</td>
            </tr>
            <tr>
                <th>FirstName</th>
                <td>{{ kid.firstName }}</td>
            </tr>
            <tr>
                <th>LastName</th>
                <td>{{ kid.lastName }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_kids_index') }}">back to list</a>

    <a href="{{ path('app_kids_edit', {'id': kid.id}) }}">edit</a>

    {{ include('kids/_delete_form.html.twig') }}
{% endblock %}
